p{
  white-space: pre-line;
}

.App {
    text-align: center;
  }

  .app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  /* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  } */
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  *,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  -webkit-box-align: center;
  align-items: center;
  background: #56a2e9;
  background: -webkit-linear-gradient(to right, #56a2e9, #56a2e9);
  background: linear-gradient(to right, #56a2e9, #56a2e9);
  display: -webkit-box;
  display: flex;
  font-family: "Rajdhani", sans-serif;
  -webkit-box-pack: center;
  justify-content: center;
}

.contact-wrapper {
  background: #fff;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  border-radius: .75em;
  padding: 4em 2em;
  width: 60em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left_side,
.right_side {
  width: 50%;
  padding: 0 3em;
}

.right_side>h2 {
  color: #3e3f5e;
  font-size: 1.75em;
  text-align: center;
}

form {
  margin: 2em 0;
}

.form-row>h2 {
  text-align: center;
}

form>.form-row {
  display: -webkit-box;
  display: flex;
  margin: .75em 0;
  position: relative;
}

form>.form-row>span {
  background: #fff;
  color: #adafca;
  display: inline-block;
  font-weight: 400;
  left: 1em;
  padding: 0 .5em;
  position: absolute;
  pointer-events: none;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  top: 50%;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form>.form-row>input,
form>.form-row>button {
  border-radius: .5em;
  padding: 1em .5em;
  width: 100%;
  font-family: inherit;
}

form>.form-row>input {
  font-weight: bold;
  -webkit-transition: 100ms ease all;
  transition: 100ms ease all;
  width: 100%;
}

form>.form-row>input[type=text],
form>.form-row>input[type=password] {
  border: .075em solid #ddd;
}

form>.form-row>input:valid+span {
  top: 0;
  font-size: .90rem;
}

form>.form-row>input:focus+span {
  top: 0;
  color: #56a2e9;
  font-weight: 600;
}

form>.form-row>input:required {
  box-shadow: none;
}

form>.form-row>input:focus {
  border-color: #56a2e9;
  outline: none;
}

form>.form-row>input:focus:invalid {
  box-shadow: none;
  top: 50%;
}

form>.form-row>input:focus:valid {
  top: 0;
}

form>.form-row>button {
  background-color: #56a2e9;
  border: .10em solid #56a2e9;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease;
}

form>.form-row>button:focus {
  border: 0.1em solid #533cf8;
  outline: none;
}

form>.form-row>button:hover {
  background: #96c1e9;
}

.socials-wrapper>h2 {
  background: #fff;
  color: #3e3f5e;
  font-size: 1rem;
  position: relative;
  text-align: center;
  z-index: 10;
}

.socials-wrapper>h2:before,
.socials-wrapper>h2:after {
  background: #d3d3e2;
  content: '';
  display: block;
  height: .10em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15%;
}

.socials-wrapper>h2:before {
  left: 0;
}

.socials-wrapper>h2:after {
  right: 0;
}

.socials-wrapper>ul {
  display: -webkit-box;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
  justify-content: center;
  padding: 0;
}

.socials-wrapper>ul>li {
  margin: .5em;
}

.socials-wrapper>ul>li>a {
  -webkit-box-align: center;
  align-items: center;
  border-radius: .5em;
  color: #fff;
  display: -webkit-box;
  height: 2em;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  -webkkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 2em;
  padding: 5px 7.9px;
}

.socials-wrapper>ul>li>a.facebook {
  background: #3763d2;
}

.socials-wrapper>ul>li>a.twitter {
  background: #1abcff;
}

.socials-wrapper>ul>li>a.instagram {
  background: #ff00aa;
}

.socials-wrapper>ul>li>a.youtube {
  background: #fd434f;
}

.socials-wrapper>ul>li>a:hover {
  -webkit-transform: translateY(-0.50em);
  transform: translateY(-0.50em);
}

@media (max-width:992px) {

  .socials-wrapper>h2:after,
  .socials-wrapper>h2:before {
    width: 10.5%
  }
}

@media (max-width:767px) {
  .contact-wrapper {
    flex-direction: column;
  }

  .left_side,
  .right_side {
    width: 100%;
    padding: 0 3em;
  }

  .socials-wrapper>h2:after,
  .socials-wrapper>h2:before {
    width: 10.5%
  }
}

.navbar {
  overflow: hidden; 
  background-color: #0e509194;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Position the navbar at the top of the page */
  width: 100%;
  /* Full width */
  margin-top: -1px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #007fff;
  
}

::selection {
  color: #fff;
  background: #1da1f2;
}

.wrapper {
  background: #fff;
  width: 700px;
  border-radius: 15px;
  padding: 10px 25px 15px 25px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}

.input-box {
  padding-top: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.input-box .express-area {
  position: relative;
  min-height: 130px;
  max-height: 170px;
  overflow-y: auto;
}

.express-area::-webkit-scrollbar {
  width: 0px;
}

.express-area .placeholder {
  position: absolute;
  margin-top: -3px;
  font-size: 22px;
  color: #98A5B1;
  pointer-events: none;
}

.express-area .input {
  border: none;
  outline: none;
  font-size: 17px;
  min-height: inherit;
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
  width: 100%;
  resize: none;
}

.express-area .editable {
  position: relative;
  z-index: 5;
}

.express-area .readonly {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  color: transparent;
  background: transparent;
}

.express-data{
  color: rgb(10, 10, 138);
  margin-top: 20px;
  background-color: rgb(168, 196, 196);
  height: 100px;
  width: 800px;
  font-size: 18px;
}

.readonly .highlight {
  background: #fd9bb0;
}

.input-box .privacy {
  color: #51636b;
  margin: 15px 0;
  display: inline-flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.privacy:hover,
.icons li:hover {
  background: #e7f5fe;
}

.privacy i {
  font-size: 18px;
}

.privacy span {
  font-size: 15px;
  font-weight: 600;
  margin-left: 7px;
}

.bottom {
  display: flex;
  margin-top: 13px;
  align-items: center;
  justify-content: right;
}

.bottom .icons {
  display: inline-flex;
}

.icons li {
  list-style: none;
  color: #51636b;
  font-size: 20px;
  margin: 0 2px;
  height: 38px;
  width: 38px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background 0.2s ease;
}

.bottom .content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom .counter {
  color: #333;
  display: none;
  font-weight: 500;
  margin-right: 15px;
  padding-right: 5px;
  border-right: 1px solid #aab8c2;
}

.bottom .show{
  display: inline;
}

.bottom button {
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #1da1f2;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
  pointer-events: none;
  transition: background 0.2s ease;
}

.bottom button.active {
  opacity: 1;
  pointer-events: auto;
}

.bottom button:hover {
  background: #0d8bd9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  display: flex;
  justify-content: left;
  justify-items: left;
  margin-top: 70px;
}

.card {
  box-shadow: 1px 1px 10px 1px #a1a1a1;
  border-radius: 10px;
  padding: 10px;
  background:#eff5f8;
  width: 660px;
  height: 370px;
  justify-items: left;
  justify-content: left;
}

.main-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.user-info{
  align-content: center;
  width: 400px;
  height: 230px;
}

.user-info img {
  width: 150px;
  border-radius: 100%;
  justify-content: center;
}

.user-info h3 {
  font-size: 1.5rem;
}

.user-info p {
  color: #5b7083;
}

.edit-btn button {
  display: flex;
  font-size: 1rem;
  border: 2px solid #070707;
  border-radius: 25px;
  background-color: rgba(29, 161, 242, 0);
  padding: 4px 10px;
  font-weight: bold;
  color: #070707;
  cursor: pointer;
  outline: none;
  transition: all 0.2s ease-in-out;
  position: absolute;
}

.edit-btn button:hover {
  background-color: rgba(19, 31, 39, 0.2);
}

.user-bio {
  color: #0f1419;
  margin-bottom: 25px;
  margin-left: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.user-bio a {
  color: #020202;
  text-decoration: none;
}

.user-bio a:hover {
  text-decoration: underline;
}

.user-follows {
  display: flex;
  color: #5b7083;
}

.user-follows div {
  margin-right: 10px;
  margin-left: 20px;
}

.user-follows b {
  color: black;
}

.express-data {

  color: rgb(0, 0, 8);
  font-style: normal;

}

.logo-image{
  width: 46px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.logo-home{
  background: #fff;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  padding: 14.2em 36.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-out {
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  color: #1da1f2;
  cursor: pointer;
  padding: 10px;
  width: 100px;
}

.card-img-top{
  height: 150px;
}

/* .post{
  padding: 9px 18px;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  color: #1da1f2;
  cursor: pointer;
} */

.user{
  display: flex;
  flex-direction: row;
  position: relative;
  top: -20px;
  padding-top: 5px;
  align-items: center;
  width: 100px;
  justify-content: space-around;
}

.reply {
  border: none;
  outline: none;
  cursor: pointer;
  color: #1da1f2;
  background: white;
  margin-top: 15px;
  margin-right: 10px;
}

.reply:hover{
  color: #123aeb;
}

.toggle{
  border: none;
  outline: none;
  cursor: pointer;
  color: #1da1f2;
  background: white;
  margin-top: 15px;
  margin-left: 10px;
}

.toggle:hover{
  color: #123aeb;
}

.comment-area{
  position: relative;
  overflow-y: auto;
}

.input-box .comment-area {
  position: relative;
  overflow-y: auto;
}

.comment-area::-webkit-scrollbar {
  width: 0px;
}

.comment-area .placeholder {
  position: absolute;
  margin-top: -3px;
  font-size: 22px;
  color: #98A5B1;
  pointer-events: none;
}

.comment-area .input {
  border: .075em solid #ddd;
  outline: none;
  font-size: 15px;
  min-height: inherit;
  word-wrap: break-word;
  word-break: break-all;
  text-align: left;
  width: 100%;
  resize: none;
}

.comment{
  border: none;
  outline: none;
  cursor: pointer;
  color: #1da1f2;
  background: white;
  margin-top: 15px;
}

.comment:hover{
  color: #123aeb;
}

.delete{
  border: none;
  outline: none;
  cursor: pointer;
  color: #1da1f2;
  background: white;
  margin-top: 15px;
}

.delete:hover{
  color: #123aeb;
}

.img-thumbnail{
  height: 140px;
  border-radius: 50px;
}

.signup{
  border-radius: .5em;
  padding: 1em .5em;
  width: 353px;
  font-family: inherit;
  background-color: #56a2e9;
  border: .10em solid #56a2e9;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease;
}

.signup:hover{
  background: #96c1e9;
}

.login {
  border-radius: .5em;
  padding: 1em .5em;
  width: 230px;
  font-family: inherit;
  background-color: #56a2e9;
  border: .10em solid #56a2e9;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease;
}

.login:hover{
  background: #96c1e9;
}

 .input-box .img-thumbnail{
  height: 35px;
  width: 40px;
  border-radius: 50%;
  padding: 3px;
 }

 .profile-pic{
  height: 170px;
 }

 .input-box .nf-pic{
  height: 30px;
  width: 30px;
  border-radius: 50%;
 }

